div{
    height: 100px;
    width: 100px;
    background-color: rgb(216, 106, 106);
    animation-name: movement;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
    animation-direction: reverse;
}

@keyframes movement{
    0%{background-color:red; left: 0; top: 0;}
    25%{background-color:yellow; left: 300px; top: 0;}
    50%{background-color:aqua; left: 300px; top: 300px;}
    75%{background-color:green; left: 0; top: 300px;}
    100%{background-color:blue; left: 0; top: 0;}
}