body{
    padding:0;
    margin: 0;
}
.container{
    background-color: #fbb12f;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.semicircle{
    height: 125px;
    width: 250px;
    background-color: white;
    border-radius: 125px 125px 0 0;
}