body{
    padding:0;
    margin: 0;
}
.container{
    background-color: #fbb12f;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    height: 125px;
    width: 125px;
    background-color: white;
    border-radius:50%;
}