body{
    background-color: lightskyblue;
    padding: 0;
    margin:0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="checkbox"]{
    height: 150px ;
    width: 150px;
    -webkit-appearance: none;
    background-color: white;
    position: relative;
    outline: none;
    transform:rotate(45deg);
}
input[type="checkbox"]:before{
    position: absolute;
    content:"";
    background-color: white;
    height: 60%;
    width:100%;
    top:-59%;
    border-radius: 75px 75px 0 0;
}
input[type="checkbox"]:after{
    position: absolute;
    content: "";
    background-color: white;
    height:60%;
    width: 100%;
    transform: rotate(-90deg);
    border-radius: 75px 75px 0 0;
    top: 20%;
    right: 79%;
}
input[type="checkbox"]:checked,
input:checked[type="checkbox"]:after,
input:checked[type="checkbox"]:before{
    background-color: #fe0f42;
}